
/* desktop */

@media (min-width: 600px) {
    html {
        background-image: url(../images/bg/bg-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #bau-cua{
        position: relative;
        cursor: pointer;
    }
    #dia{
        margin: 200px 0 0 450px;
        width: 400px;
    }
    #chen{
        width: 330px;
        height: 280px;
        position: absolute;
        top: 170px;
        left: 485px;
    }
    #nut{
        margin-top: 30px;
        margin-left: 530px;
    }
    button{
        margin-right: 10px;
        width: 80px;
        height: 30px;
        cursor: pointer;
        border: 1px solid #757575;
        border-radius: 3px;
    }
    button:hover{
        background-color: #cfcfcf;
        border-color: black;
    }
    #mat-hot{
        position: absolute;
        top: 260px;
        left: 530px;
    }
    .hot{
        width: 80px;
        border: 1px solid black;
        border-radius: 5px;
    }
    #hot1{
        position: absolute;
        top: 80px;
        left: 0;
    }
    #hot2{
        position: absolute;
        top: 0;
        left: 80px;
    }
    #hot3{
        position: absolute;
        top: 80px;
        left: 160px;
    }
    
    .moNap {
        transform: translateY(-200px);
        animation: moveUp 0.5s ease-in-out;
    }
    
    @keyframes moveUp {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-200px);
        }
    }
    
    .dayNap {
        transform: translateY(0px);
        animation: moveDown 0.5s ease-in-out;
    }
    
    @keyframes moveDown {
        0% {
            transform: translateY(-200px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    
    .shake {
        animation: shake 0.3s ease-in-out;
    }
    
    @keyframes shake {
        0%, 100% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(-5px, -5px);
        }
        50% {
            transform: translate(5px, 5px);
        }
        75% {
            transform: translate(-5px, -5px);
        }
    }
}







/* moblie */

@media (max-width: 599px) {
    html {
        background-image: url(../images/bg/bg-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }
    
    #song{
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 25px;
        color: black;
    }
    #menu{
        font-size: 16px;
        display: flex;
        position: relative;
        top: 15px;
    }
    #playIcon{
        display: none;
    }
    .icon{
        margin: 0 10px;
        color: black;
    }
    #list {
        outline: none;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        padding: 3px;
        border: 2px solid white;
        border-radius: 20px;
        line-height: 1.3;
        font-size: 13px;
        font-family: Verdana, Tahoma, sans-serif;
        position: absolute;
        top: -6px;
        left: 110px;
    }
    #list option {
        border: 10px solid black !important;
        font-size: 12px;
    }
    option + option {
        border-top: 1px solid white;
    }

    #bau-cua{
        margin-top: 50px;
        position: relative;
        cursor: pointer;
        outline: none;
    }
    
    #dia{
        outline: none;
        margin-top: 300px;
        margin-left: calc((100vw - 350px) / 2);
        width: 330px;
        height: 200px;
    }
    #chen{
        outline: none;
        width: 270px;
        height: 230px;
        position: absolute;
        top: 250px;
        left: calc((100vw - 290px) / 2);
    }
    #nut, button{
        display: none;
    }
    #mat-hot{
        position: absolute;
        top: 330px;
        left: 95px;
    }
    .hot{
        width: 60px;
        border: 1px solid black;
        border-radius: 5px;
    }
    #hot1{
        position: absolute;
        top: 70px;
        left: 0;
    }
    #hot2{
        position: absolute;
        top: 5px;
        left: 60px;
    }
    #hot3{
        position: absolute;
        top: 70px;
        left: 120px;
    }
    
    .moNap {
        transform: translateY(-160px);
        animation: moveUp 0.5s ease-in-out;
    }
    
    @keyframes moveUp {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-160px);
        }
    }
    
    .dayNap {
        transform: translateY(0px);
        animation: moveDown 0.5s ease-in-out;
    }
    
    @keyframes moveDown {
        0% {
            transform: translateY(-160px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    
    .shake {
        animation: shake 0.3s ease-in-out;
    }
    
    @keyframes shake {
        0%, 100% {
            transform: translate(0, 0);
        }
        25% {
            transform: translate(-5px, -5px);
        }
        50% {
            transform: translate(5px, 5px);
        }
        75% {
            transform: translate(-5px, -5px);
        }
    }
}